// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navtitle{
	color:#e8e0d1;
}

.navbar-link{
	color:#72968c;
}

.navbar-link:hover{
		color:#dfbfa9;
}


#map{
	width:100%;
	min-height:630px
}
